{% extends 'base.html' %}
{% block title %}
   destinations
{% endblock %}

{% block content %}

<div class="container">
  <h1 class="text-center mt-5">Places to visit</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://static01.nyt.com/images/2024/01/10/multimedia/10places-kenya-sub-vfcz/10places-kenya-sub-vfcz-articleLarge.jpg" class="card-img-top" alt="Course 1">
        <div class="card-body">
          <h5 class="card-title">Maasai Mara</h5>
          <p class="card-text">In 2021, African savanna elephants went from vulnerable to endangered, putting them on the International Union for Conservation of Nature’s red list for possible extinction. But in Kenya, the elephant population has grown by 21 percent since 2014, to a total of 36,280. Almost half live in Tsavo, home to Africa’s most successful elephant rehabilitation program, the Sheldrick Wildlife Trust.</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://static01.nyt.com/images/2023/01/10/multimedia/10places-yamaguchi-qcjp/10places-yamaguchi-qcjp-articleLarge.jpg" class="card-img-top" alt="Course 2">
        <div class="card-body">
          <h5 class="card-title">Yamaguchi,Japan </h5>
          <p class="card-text">Yamaguchi is often called the Kyoto of the West, though it’s much more interesting than that — and it suffers from considerably less “tourism pollution.” A compact city of about 190,000, it lies in a narrow valley between the Inland and Japan seas..</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://static01.nyt.com/images/2023/01/10/multimedia/10places-negombo-zpvf/10places-negombo-zpvf-superJumbo.jpg" class="card-img-top" alt="Course 3">
        <div class="card-body">
          <h5 class="card-title">Negombo,Sri Lank</h5>
          <p class="card-text">Tourism in Sri Lanka has long focused on Dambulla’s astonishing cave temple and the beaches of the southern coast. But travelers in search of less-trafficked destinations are paying newfound attention to Negombo, a fishing village.</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://static01.nyt.com/images/2023/01/10/multimedia/10places-ohiggins-vlkm/10places-ohiggins-vlkm-articleLarge.jpg" class="card-img-top" alt="Course 4">
        <div class="card-body">
          <h5 class="card-title">O'Higgins,Chiles</h5>
          <p class="card-text">This overlooked region south of Santiago has been facing a changing climate, wildfires that are threatening hundred-year-old grapevines, frequent earthquakes and undervalued traditions. So a group of local cooks, winemakers and artisan growers have joined to preserve their campesino, or rural farmer, identity. In late 2023 their initiative, known as Ruta de los Abastos, began offering rural culinary experiences to connect visitors to local beekeepers, oyster farmers and other producers..</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://static01.nyt.com/images/2023/01/10/multimedia/10places-baltimore-chzg/10places-baltimore-chzg-articleLarge.jpg" class="card-img-top" alt="Course 5">
        <div class="card-body">
          <h5 class="card-title">Baltimore,Maryland</h5>
          <p class="card-text">It’s an enormous year for Charm City. The 60th anniversary of the Civil Rights Act is bringing in a new Justice Thurgood Marshall Amenity Center; the Baltimore Museum of Art is increasing the presence of Native artists with solo shows, thematic exhibitions and changes to displays and labels across the museum; and Baltimore Peninsula, a place for visitors and locals to shop, dine and play, will breathe new life into a long-neglected port area..</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://static01.nyt.com/images/2023/01/10/multimedia/10places-mingan-bwfl/10places-mingan-bwfl-superJumbo.jpg" class="card-img-top" alt="Course 6">
        <div class="card-body">
          <h5 class="card-title">Mingan Archipelago,Quebec</h5>
          <p class="card-text">In the wild Côte-Nord region of Quebec, the Mingan Archipelago, a national park reserve on the Gulf of St. Lawrence, unfolds ethereally. Hike amid Canada’s largest concentration of erosion-sculpted monoliths, which rise like fossilized works of art; kayak on the misty sea; and explore secluded beaches framed by marshes and forests. And watching over the land are the people of the Innu First Nations group.</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

   <!-- End of .container -->
{% endblock %}